<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LiRa</key>
	<string>LiRa Versions</string>
	<key>a6a8378fb145986bd28136c4f2f91d958bbca614</key>
	<string>2.0b2</string>
</dict>
</plist>
